---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
	<Header/>
	<div class="flex flex-col items-center">
		<img src="/laço-amarelo.png" alt="" class="w-32 md:w-48">
		<h1 class="text-3xl md:text-4xl font-bold mt-4">SETEMBRO AMARELO</h1>
		<p class="text-base md:text-2xl mt-4 text-center">Setembro Amarelo é uma das diversas formas de mostrar que o suicídio não é a solução. Se você fizer isso, irá perder MILHÕES de opções de vida e formas de ser feliz. Então, o Setembro Amarelo apenas mostra que todos têm que dar valor à vida enquanto ela pode ser vivida.</p>
	  </div>
	<div class="flex flex-col items-center mt-5">
		<img src="/laço-laranja.png" alt="" class="w-32 md:w-48">
		<h1 class="text-3xl md:text-4xl font-bold mt-4">MAIO LARANJA</h1>
		<p class="text-base md:text-2xl mt-4 text-center">o maio laranja nós mostra que nós temos que tomar cuidado com  quem falamos ou interagimos por conta que existes muitas pessoas querendo se aproveitas da gente não querendo apenas amizade e sim querendo muitas coisas amais então nós precisamos tomar muito cuidade e ter respeito com as pessoas que já sofreram muito por isso . </p>
	</div>
	<Footer/>  
</Layout>